{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
 <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript" ></script>

 <title>{% block title %}{% endblock %}</title>
 <!-- <link href="{% static "css/base.css" %}" rel="stylesheet"> -->

</head>
<body >
	<h1> Kalkulator rozliczeń </h1>
	
	

	<div class = "tax_types">
		<!-- <input type="radio" name="tax_option" value="male">opcja podatkowa 1<br>
		<input type="radio" name="tax_option" value="female">opcja podatkowa  2<br>
		<input type="radio" name="tax_option" value="other">opcja podatkowa  3<br> -->
		{% for tax_type in tax_types %}
			<div id="{{tax_type.tax_name}}"" class="div_tax_type" value={{tax_type.tax_amount}}>
				<input class="js_tax_type" type="radio" name="name_tax_type" value={{tax_type.tax_amount}}>{{tax_type}}<br>
			</div>
		{% endfor %}
	</div>

	<br>
	<br>

	<div class = "products">
		{% for product in products %}
			<div id="{{product.product_id}}"  class ="div_product" value={{product.product_price}}>
				<input class="js_product" type="radio" name="name_products_type" value={{product.product_price}}>{{ product }}<br>
			</div>
		{% endfor %}
	</div>

	<p id="js_error"></p>
	<p class="js_info_for_client" value=""></p> 
	<p class="js_extra_info_for_client" value=""></p> 

	<div class = "calc_form">
		<table style="width:50%">
		  <tr>
		    <th align="left">Cena produktu</th>
		    <th align="left">Twoja marża</th> 
		    <th align="left">Cena wyświetlana w sklepie</th>
		    <th align="left">Szczegoly</th>

		  </tr>
		  <tr>
		    <td><input id="id_cena_bazowa" type="number" name="cena_bazowa" value="" disabled></td>
		    <td><input id="id_cena_marza" type="number" name="cena_marza" value=""></td> 
		    <td><input id="id_cena_koncowa" type="number" name="cena_koncowa" value=""></td>
		    <td><input id="id_cena_szczegoly" type="text" name="cena_koncowa" value=""></td>

		  </tr>
		</table>
		<!-- <input type="text" name="cena_bazowa" value="">
		<input type="text" name="cena_marza" value="">
		<input type="text" name="cena_koncowa" value=""> -->
	</div>

 {% load static %}
 <script src="{% static 'kalkulator/script.js' %}" type="text/javascript"></script>

</body>
</html>